body {
  margin: 0;
}

main {
  text-align: center;
  color: white;
  background-image: url("../images/leaves.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 2rem 0 10rem 0;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 1;
  margin-bottom: 2rem;
}

.flex-container div {
  padding-right: 1rem;
}

.logo img {
  width: 10rem;
  height: auto;
}

.map {
  height: 100%;
  width: 100%;
}

.map-container {
}

.layer-control {
  border-left: 2px solid black;
}

.stats img {
  width: 33%;
  height: auto;
}


/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Button */
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 1rem;
  font-size: 1rem;
  /*max-width: 10rem;*/
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}
